%base-style {
	color: $base-color;
	font-family: $base-font-family;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;

	@include media-breakpoint-up(lg){
		font-size:18px;
	}
}

%button {
	background: $highlight;
	border: none;
	border-radius: 4px;
	box-shadow: none;
	color: $white;
	cursor: pointer;
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	width: auto;
	-webkit-appearance: none;

	&:hover {
		background-color: darken( $highlight, 10%);
		color: $white;
		text-decoration: none;
	}
}

@mixin button-styles() {

	.button:not(.components-button) {
		@extend %button;

		&.button-block {
			display: block;
			text-align: center;
			width: 100%;
		}

		.wp-core-ui & {
			font-size: 16px;
			line-height: 24px;
			height: 44px;
		}
	}

}
