/* Content Area
---------------------------------------------------------------------------------------------------- */

body {
	background: #fffdfa;	
}

.site-inner { // =inner
	padding: 32px 0;
	@include media-breakpoint-up(md) {
		padding: 48px 0;
	}
}

/* Entries
--------------------------------------------- */

.hentry {
	margin-bottom: 40px;
}

.entry-content .attachment a,
.entry-content .gallery a {
	border: none;
}

body.single-post, body.page {
	.entry-footer{
		font-style: italic;
	}
}


.after-entry-content {
	text-align: justify;
	hyphens: auto;
	margin-bottom: 32px;
	hr{
		margin-top: 32px;
	}
}


/* Entry Navigation
--------------------------------------------- */

.posts-navigation {
	overflow: hidden;
	width: 100%;

	.nav-previous {
		float: right;
	}

	.nav-next {
		float: left;
	}
}

.post-blocks .post-block.load-more {
	text-align: center;
	width: 100%;

	.button {
		display: inline-block;
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		font-size: 16px;
		letter-spacing: 1px;
		line-height: 1;
		padding: 12px 18px;
		text-transform: uppercase;
	}
}

#infscr-loading img {
	display: none;
}

/* Comments
--------------------------------------------- */

.comments-area {

	.comment-list {

		li {
			border-top: 1px solid $border-color;
			list-style-type: none;
			padding: 16px 0 0;
		}
	}

	.comment-respond {

		input[type="email"],
		input[type="text"],
		input[type="url"] {
			width: 50%
		}

		label {
			display: block;
			margin-right: 12px;

			&[for="subscribe"] {
				display: inline-block;
			}
		}

	}
}
