@font-face {
  font-family: 'icomoon';
  src:  url('../icons/fonts/icomoon.eot?vdo2g6');
  src:  url('../icons/fonts/icomoon.eot?vdo2g6#iefix') format('embedded-opentype'),
  url('../icons/fonts/icomoon.ttf?vdo2g6') format('truetype'),
  url('../icons/fonts/icomoon.woff?vdo2g6') format('woff'),
  url('../icons/fonts/icomoon.svg?vdo2g6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-left:before {
  content: "\e900";
}
.icon-angle-right:before {
  content: "\e901";
}
.icon-carat-down:before {
  content: "\e902";
}
.icon-circle-angle-down:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\e905";
}
.icon-linkedin:before {
  content: "\e906";
}
.icon-menu:before {
  content: "\e907";
}
.icon-PDF:before {
  content: "\e908";
}
.icon-printer:before {
  content: "\e909";
}
.icon-search:before {
  content: "\e90a";
}
.icon-spinner:before {
  content: "\e90b";
}
.icon-twitter:before {
  content: "\e90c";
}
