

/* Site Header : =header
---------------------------------------------------------------------------------------------------- */

.site-container {
	position: relative;

	&::before,
	&::after {
		content: '';
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position: center top;
		position: absolute;
		display: block;
		width: 100%;
		height:50%;

		body.bg1 & {
			background-image: url(../images/background-blue-squares.jpg);
		}

		body.bg2 & {
			background-image: url(../images/background-blue-hexagons.jpg);
		}

		body.bg3 & {
			background-image: url(../images/background-blue-triangles.jpg);
		}

		body.bg4 & {
			background-image: url(../images/background-green-triangles.jpg);
		}

		body.bg5 & {
			background-image: url(../images/background-yellow-triangles.jpg);
		}

	}

	&::before {
		top: 0;
		z-index: -1;

	}

	&::after {
		z-index: -2;
		bottom: 0;
		transform: rotate(180deg);
	}
}

.site-container {
	padding-top: 48px;


}

.site-header {
	background: #fff;
	background: rgba( 255, 255, 255, .8 );
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	padding-top: 0px;
	padding-bottom: 0px;

	transition: all 0.2s ease-in-out;
	-webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);


	&.desktop-dropdown-active{
		background: $brody;
		background: rgba( 96, 125, 139, .95) ;
		&:before{
			background-color: #fff;
			content: "";
			position: absolute;
			height: 48px;
			width: 100%;
		}
	}

	.wrap {
		max-width: 100%;
		overflow: hidden;
	}

}


.site-branding { /* =logo =branding */
	float: left;
	height: 100%;

	h1.site-title,
	p.site-title {
		margin: 0;
		font-size: 20px;
		line-height: 22px;
	}

	.site-title a {
		display: block;
		color: #fff;
		font-family: 'Unna', serif;
		letter-spacing: 1px;
		padding: 8px 16px;
		font-weight: 400;
		&:hover{
			background-color: $brody_lighter_20;
			text-decoration: none;
		}
		.site-title-link-inner{
			display: inline-block;
			background: $brody;
			padding: 5px 8px;

			position: relative;
			&:after{
				border: 1px solid $brody_lighter_10;
				content: "";
				position: absolute;
				bottom: 4px;
				left: 4px;
				right: 4px;
				top: 4px;
			}
		}

	}
}


/* Admin Bar
--------------------------------------------- */

@include media-breakpoint-up(md) {
  .admin-bar .site-container {
	  padding-top: 32px + 80px;
	  @include media-breakpoint-down(md){
		  padding-top: 32px + 50px;
	  }
  }
	.admin-bar .site-header {
		top: 32px;
	}
}

@include media-breakpoint-down(sm) {
  #wpadminbar {
    display: none !important;
  }
}



/* Site Navigation : =nav
--------------------------------------------- */

.nav-primary {
	float: left;
	width: auto;
	@include media-breakpoint-down(sm) {
		display: none;
	}
}

.nav-menu {

	ul {
		clear: both;
		line-height: 1;
		margin: 0;
		width: 100%;
	}

	.menu > li:last-child > a {
		//padding-right: 0;
	}

	.menu-item {
		float: left;
		list-style: none;

		a {
			border: none;
			color: $brody;
			display: block;
			font-size: 14px;
			line-height: 16px;
			padding: 16px 22px 16px;
			position: relative;
			text-transform: uppercase;
			font-family: Montserrat, sans-serif;
			font-weight: 600;
			letter-spacing: 1px;
		}

		&:hover > a {
			color: $white;
			background-color: $brody_lighter_20;
			text-decoration: none;

		}

		&:hover {
			position: static;

			& > .sub-menu {
				left: auto;
				opacity: 1;
			}
		}



	}

	.sub-menu {
		left: -9999px;
		opacity: 0;
		padding: 10px 0;
		position: absolute;
		width: 250px;
		z-index: 99;

		a {
			background: transparent;
			color: $white;
			padding: 8px 20px;
			position: relative;
			width: 250px;
		}

		.menu-item:hover > a,
		.current-menu-item > a {
			color: $white;
		}

		.sub-menu {
			margin: -54px 0 0 199px;
		}
	}
}




/* Header Search : =search
--------------------------------------------- */

a.header-search-toggle {
	color: $brody;
	display: block;
	font-size: 21px;
	line-height: 26px;
	padding: 11px 14px;
	float: right;

	&:hover {
		color: $white;
		background-color: $brody_lighter_20;
		text-decoration: none;

	}
}

.header-search {

	display: none;
	position: absolute;
	left: 0;
	margin: 0 auto;
	right: 0;
	top: 56px;
	width: 300px;

	@include media-breakpoint-up(md){


		right: 72px;
		top: 8px;
		width: 335px;
	}


	&.active {
		display: block;
	}

	.small-header & {
		bottom: 5px;
	}

	@include media-breakpoint-up(lg) {
		right: 72px;
		bottom: 10px;
	}

}

.search-form {
	background: $white;
	border: 1px solid $brody;
	border-radius: 20px;
	line-height: 1;
	padding-right: 30px;
	position: relative;
	overflow: hidden;
	width: 100%;

	label{
		margin-bottom: 0;
	}

	.search-field {
		border: 0;
		color: $brody;
		padding: 0;
		font-size: 14px;
		line-height: 16px;
		padding: 8px 20px;
		font-weight: 600;
		font-family: Montserrat, sans-serif;
		text-transform: uppercase;
		&::-moz-placeholder {
			color: $brody;
			opacity: 1;
		}

		&::-ms-input-placeholder {
			color: $brody;
		}

		&::-webkit-input-placeholder {
			color: $brody;
		}
	}

	.search-submit {
		background: transparent;
		border:none;
		border-radius: 0;
		color: #ccc;
		position: absolute;
		top: 0;
		right: 0;
		padding: 0 13px 0 0;
		height: 100%;
		text-align: center;

		i:before {
			font-size: 18px;
		}

	}

	&.active {
		display: block;
	}
}




/* Upper Site Title area : =title =upper
---------------------------------------------------------------------------------------------------- */
.upper-site-title {

	@include line-maker();
	.line-maker-outer {
	    .line-maker-inner {

			@include media-breakpoint-down(sm) { // dont show the horizontal lines on mobile for main logo
				&:before, &:after {
					background: none;
				}
			}
			.title {
				color: #fff;
				font-family: 'Unna', serif;
				letter-spacing: 1px;
				padding: 8px 16px;
				font-weight: 400;
				text-transform: uppercase;
				background: $brody;
				padding: 6px 9px;
				font-size: 20px;
				line-height: 22px;
				display: inline-block;
				position: relative;
				// border inside
				&:after {
					border: 1px solid $brody_lighter_10;
					content: "";
					position: absolute;
					bottom: 4px;
					left: 4px;
					right: 4px;
					top: 4px;
				}
			} // .title

			a.title:hover {
				background: $brody_darker_20;
				color: $white;
				text-decoration: none;
			}
	    } // line-maker-inner
	} // line-maker-outer


} // .upper-site-title

.upper-site-title {
	padding: 0 0 32px;
	@include media-breakpoint-up(md){
		padding: 0 0 48px;
	}
} // upper-site-title
